/* 定义标签  默认样式 */


@media screen {
    html {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    body {
        width: 100%;
        margin: 0px;
    }

    * {

        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        text-align: center
    }

  

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}

@media screen {
    .col-1 {
        width: 10%;
    }

    .col-2 {
        width: 20%;
    }

    .col-3 {
        width: 30%;
    }

    .col-4 {
        width: 40%;
    }

    .col-5 {
        width: 50%;
    }

    .col-6 {
        width: 60%;
    }

    .col-7 {
        width: 70%;
    }

    .col-8 {
        width: 80%;
    }

    .col-9 {
        width: 90%;
    }

    .col-10 {
        width: 100%;
    }

    /* 列后清除浮动相当于画一条线与下面的间开 */
    .row:after {
        content: "";
        clear: both;
        display: block;
    }

    [class*="col-"] {
        float: left;
    }
}

/* 所有头部、导航栏 弹出菜单 */
@media screen {

    /* 导航栏容器 */
    .container-nav {
        width: 100%;
        position: fixed;
        top: 0px;
        height: 50px;
        transition: all .8s;
        /*过渡效果*/
        overflow: hidden;
        background-color: white;
        font-weight: 600;
        border-bottom-style: solid;
        border-bottom-color: blue;
        border-bottom-width: 0.09375rem;
        box-shadow: 0px 1px 10px #0000FF;
        margin: 0px;
        z-index: 3;
    }

    /* PC导航栏 */
    .logo {

        padding: 0px 40px 0px 60px;
        width: auto;
        text-align: center;
        font-size: 50px;
        line-height: 50px;
        font-family: "Lucida Console", Monaco, monospace;
        color: blue;
        float: left;
        height: 50px;
    }

    .logo:active {
        background-color: aqua;
    }

    .nav-list {
        display: flex;
        /*弹性布局*/
        justify-content: center;
        /*从中间开始布局*/
        flex: 1;
        margin: 0;
        padding: 0;
    }

    #home {
        color: blue;
    }

    #home:after {
        visibility: visible;
        transform: scaleX(1);
    }

    .nav-list li a {
        position: relative;
        /*重要：  只有这里相对定位了a：after的绝对才会绑定a元素*/
        height: 100%;
        display: inline-block;
        font-size: 20px;
        padding-top: 13px;
        margin-right: 1.2em;
        text-align: center;
        color: black;
    }

    .nav-list li a:hover {
        color: #0000FF
    }

    .nav-list li a:after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        /*绝对定位  脱离文本流*/
        bottom: 0;
        left: 0;
        background-color: fuchsia;
        visibility: hidden;
        transform: scaleX(0);
        /*转换  x轴方向为0%*/
        transition: all .2s ease-in;
        /*过渡效果*/
    }

    .nav-list li a:hover:after {
        visibility: visible;
        transform: scaleX(1);
        /*转换  x轴方向为100%*/
        transition: all 0.25s ease-out;
    }

    /* 手机底部导航栏 */
    .nav-bottom {
        display: none;
        width: 100%;
        background: white;
        position: fixed;
        /*脱离文本流定位*/
        bottom: 0;
        z-index: 1;
    }

    .nav-bottom ul {
        border-top: px solid #000;
        box-shadow: 0px 1px 10px #0000FF;
        padding: 0;
        display: flex;
        /* 父元素弹性布局 */
        margin: 0;
        list-style-type: none;
    }

    .nav-bottom ul li {
        flex: 1;
        /*子代等距划分*/
    }

    #site {
        background-color: aliceblue;
    }

    .nav-bottom ul li a i {
        display: block;
        padding: 5px;
    }

    .nav-bottom ul li a {
        color: #000000;
        display: block;
        padding-bottom: 8px;
    }
}

/* 主体内容部分 */
@media screen {
    .main {  padding-top: 60px;
        margin: auto;
        overflow-x: hidden;
        width: 80%;
    }

    .header {
        height: 300px;
    }

    .section-header {
        margin-bottom: 120px;
        position: relative;
    }

    .section-header h2 {
        font-size: 26px;
        color: blue;
    }

    .section-header h2:before {
        content: " ";
        width: 36%;
        height: 2px;
        background: orangered;
        position: absolute;
        top: 50%;
        left: 0;
    }

    .section-header h2::after {
        content: " ";
        width: 36%;
        height: 2px;
        background: orangered;
        position: absolute;
        top: 50%;
        right: 0;
    }
    .college-list li {
        position: relative;
        height: 100px;
        width: 50%;
        float: left;
        overflow: hidden;
    }

    .college-list li:nth-child(2n+1):not(:nth-last-child(2)) {
        border-right: 1px solid rgba(174, 174, 174, 0.462);
        border-top: 1px solid rgba(174, 174, 174, 0.462);


    }
    .college-list li:nth-last-child(2){
        border-top: 1px solid rgba(174, 174, 174, 0.462);

    }

    .college-list li:nth-child(2n) {
        border-top: 1px solid rgba(174, 174, 174, 0.462);

    }

    .ul-main {

        height: 100%;
        text-align: left;
        width: 100%;
        position: relative;

    }


    .ul-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
        float: left;
    }

    .ul-img img {

        height: 60%;
        width: 35%;
    }

    .ul-h {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        float: left;
        width: 40%;
        font-size: 32px;
        color: orangered;
    }

    .ul-url {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        height: 100%;
        float: left;
        width: 30%;
        color: #0000FF;
    }

    .ul-main:hover .ul-left-intro {
        right: 0;
    }

    .ul-main:hover .ul-right-intro {
        left: 0;
    }

    .ul-right-intro {
        position: absolute;
        left: 100%;
        background-color: rgba(253, 245, 230, 0.955);
        height: 100%;
        width: 100%;
        z-index: 1;
        transition: left linear .3s .1s;
    }

    .ul-left-intro {
        color: black;
        position: absolute;
        right: 100%;
        background-color: rgba(253, 245, 230, 0.955);
        height: 100%;
        width: 100%;
        z-index: 1;
        transition: right linear .3s .1s;
    }

}

/* 底部栏 */
@media screen {
    .footer {
        width: 100%;
        float: left;
        text-align: center;
        background-color: skyblue;

    }

    .footer ul {
        margin: 0;
    }

    .shield {
        display: inline-block;
        border-radius: 3px;
        font-size: 25px;
        color: white;
        padding: 6px 10px;
    }

    .shield li {
        padding: 10px 30px;
        display: inline-block;
    }

    .shield li a {
        float: left;
    }

    .shield li a span:first-child {
        display: inline-block;
        background-color: #3D3D3D;
        padding: 6px 10px;
        border-radius: 3px 0 0 3px;
    }

    .shield li a span:last-child {
        background-color: orangered;
        display: inline-block;
        padding: 6px 10px;
        border-radius: 0 3px 3px 0;
    }
}

/* 返回按钮及侧边栏 */
@media screen {
    .aside {
        transition: all .5s;
        opacity: 0.7;
        position: fixed;
        bottom: 66px;
        right: -39px;
        background-color: #FFDEAD;
        border: solid 1px gainsboro;
    }

    .aside div:not(:last-child) {
        border-bottom: 0.1px solid red;
    }

    .aside div i {

        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }

    .aside div a {
        color: blue;
        display: block;
        height: 100%;
        width: 100%;
    }

    #qq {
        color: white;
    }

    .top a i {
        font-size: 40px;
    }

    .aside div a:hover {
        background-color: orangered;
        color: white;
    }
}

/* 适应手机 */
@media only screen and (max-width:768px) {
    [class*="col-"] {
        width: 94%;
        margin: auto;
    }

.main{
    width: 92%;
}
.section-header h2:before,
.section-header h2::after{
    width: 26%;
}
.ul-img{
    width: 23%;
}
.ul-img img {
    width: 60%;
    height: 30%;
}
.ul-h{
    width: 52%;
    font-size: 24px;
}
.ul-url{
    width: 25%;
    color: gray;
    font-size: 9px;
}
    .shield {
        font-size: 10px
    }

    .shield li {
        padding: 3px 5px;
        width: 50%;
    }

    .div {
        display: block;
        line-height: 60px;
        height: 60px;
    }

    .container-nav {
        display: none;
    }

    .nav-bottom {
        display: block;
    }
}

/* 适应iPad */
@media only screen and (min-width: 769px) and (max-width: 991px) {
    
    .ul-img img{
        width: 50%;
    }
}

/* PC端 */
@media only screen and (min-width: 992px) {
    .container-nav {
        display: flex;
    }

    .div {
        display: none;
    }

    .nav-bottom {
        display: none;
    }

}